<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protótipo QR-Inclusivo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.14/dist/css/bulma-calendar.min.css"
        integrity="sha256-O26EpHxgXDA8epUOQBnYzA4huAHn6FlxJ7DPWcHH0+M=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            Protótipo QR-Inclusivo
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            {% block content %}
            <div class="container">
                <form action="{{ url_for('handle_data') }}" method="post">
                    <div class="field">
                        <label class="label">Marca e tipo da Cerveja:</label>
                        <div class="control">
                            <input name="produto" class="input" type="text" placeholder="Ex.: Colorado Appia">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Volume (ML):</label>
                        <div class="control">
                            <input name="volume" class="input" type="text" placeholder="350">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">IBU:</label>
                        <div class="control">
                            <input name="ibu" class="input" type="text" placeholder="10">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Teor Alcoolico (%):</label>
                        <div class="control">
                            <input name="teorAlcoolico" class="input" type="text" placeholder="5,5">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Ingredientes:</label>
                        <div class="control">
                            <input name="ingredientes" class="input" type="text" placeholder="Insira os ingredientes separados por vírgula.">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Data de validade:</label>
                        <div class="control">
                            <input name="validade" class="input" type="text" placeholder="dd/mm/aaaa">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Audio Descrição:</label>
                        <div class="control">
                            <textarea name="descricao" class="textarea" placeholder="Insira o texto que será lido sobre a cerveja para o cliente."></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button " value="Gerar QR-Code">
                        </div>
                    </div>
                </form>
            </div>
            {% endblock %}
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.14/dist/js/bulma-calendar.min.js"
        integrity="sha256-hM0fcGKi+GWMFAAbK44aygF3p2HLEgwEzHDUh0Ck+Tw=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>

</html>